
<h1>SyncSlide#index</h1>
<button id="button">送信</button>
<input id="user_name" placeholder="user name" type="text">
<div class="slide">
  <textarea class="edit title" id="title1" placeholder="title" wrp="hard" spellcheck="true"></textarea>
  <textarea class="edit stext" id="text1" placeholder="text" wrp="hard" spellcheck="true"></textarea>
</div>
